<header style="background-color: steelblue; margin: 0; padding: 0;" class="page-header">
  <div class="container-fluid h-100">
    <div class="row h-100 justify-content-center">
      <div class="col-12 col-md-11 col-lg-11 col-xl-11" style="margin: 0;">
        
        {{!-- Login and Signup icons hidden on small screens but displayed on all others --}}
        <nav class="navbar float-right d-none d-sm-block" style="margin: 15px 0 0 0; color: white;">
          {{#if user}}
            <a href="{{routes.user.profile}}" style="color: white; font-size: 1.1em">
              <img class="img-fluid rounded-circle" src="http://www.gravatar.com/avatar/{{user.gravatar}}?d=monsterid&s=27"/>&nbsp;
              {{#xif user.provider local}}
                {{user.username}}
              {{else}}
                {{user.familyName}}
              {{/xif}}&nbsp;&nbsp;&nbsp;
            </a>
            
            <a href="{{routes.user.profile.settings}}" style="color: white;">
              <i data-feather="settings" stroke="white" fill="none"></i>&nbsp;&nbsp;Settings &amp; Privacy
            </a>&nbsp;&nbsp;&nbsp;
            <a href="{{routes.user.profile.help}}" style="color: white;">
              <i data-feather="help-circle" stroke="white" fill="none"></i>&nbsp;&nbsp;Help Center
            </a>
          {{else}}
            <a href="{{routes.user.login}}" style="color: white; text-decoration: none" title="Log In">
              <i data-feather="log-in" width="25px" height="25px"></i>
              Log In
            </a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{{routes.user.signup}}" style="color: white; text-decoration: none;" title="Sign Up">
              <i data-feather="user-plus" width="25px" height="25px"></i>
              Sign Up
            </a>  
          {{/if}}
        </nav>

        <nav class="navbar navbar-expand-sm navbar-dark" style="padding: 0">
          <a href="/" style="margin: 4px 0 0 0; padding: 0;">
            <img src="/assets/vendor/local/raddict-white.png" width="40px" height="40px" class="navbar-brand img-fluid"/>
          </a>
          <span>
            <a href="/" style="margin: -2px 0 0 -10px;; color: white; font-size: 2em; font-weight: bold; font-family: 'Helvetica';">
              raddict
            </a>
          </span>
          
          <button class="navbar-toggler float-right" type="button"
            data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon" style=""></span>
          </button>

          {{!-- Login and Signup icons displayed only on small screens but hidden on all others --}}
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav col d-lg-none d-md-none d-sm-none" style="margin: 0 0 15px 0; padding: 0; border: none;">
              <div class="col-auto align-self-center" style="border: none; margin: 0 0 0 25px;">
                {{#if user}}
                  <a href="{{routes.user.profile}}" style="display: block; color: white; font-size: 1.1em; margin: 0 0 10px 0;">
                    <img class="img-fluid rounded-circle" src="http://www.gravatar.com/avatar/{{user.gravatar}}?d=monsterid&s=27"/>&nbsp;
                    {{#xif user.provider local}}
                      {{user.username}}
                    {{else}}
                      {{user.familyName}}
                    {{/xif}}
                  </a>
                  
                  <a href="{{routes.user.logout}}" style="display: block; color: white; margin: 0 0 10px 0;">
                    <i data-feather="log-out" stroke="white" fill="none"></i>&nbsp;&nbsp;Logout
                  </a>
                  <a href="{{routes.user.profile.settings}}" style="display: block; color: white; margin: 0 0 10px 0;">
                    <i data-feather="settings" stroke="white" fill="none"></i>&nbsp;&nbsp;Settings &amp; Privacy
                  </a>
                  <a href="{{routes.user.profile.help}}" style="display: block; color: white; margin: 0 0 10px 0;">
                    <i data-feather="help-circle" stroke="white" fill="none"></i>&nbsp;&nbsp;Help Center
                  </a>
                {{else}}
                  <a href="{{routes.user.login}}" style="color: white; text-decoration: none" title="Log In">
                    <i data-feather="log-in" width="25px" height="25px"></i>
                    Log In
                  </a>&nbsp;&nbsp;&nbsp;&nbsp;
                  <a href="{{routes.user.signup}}" style="color: white; text-decoration: none;" title="Sign Up">
                    <i data-feather="user-plus" width="25px" height="25px"></i>
                    Sign Up
                  </a>  
                {{/if}}
              </div>
            </div> 
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
