<header class="page-header">
  <div class="container-fluid h-100">
    <div class="row h-100 justify-content-center">
      <div class="col-12 col-lg-10 col-xl-10" style="margin: 0;">
        
        {{!-- Login and Signup icons hidden on small screens but displayed on all others --}}
        <nav class="navbar float-right d-none d-sm-block" style="margin-top: 10px; color: white;">
          {{#if user}}
            <a href="{{routes.user.profile}}" style="color: white; font-size: 1.1em">
              <img class="img-fluid rounded-circle" src="http://www.gravatar.com/avatar/{{user.gravatar}}?d=monsterid&s=27"/>&nbsp;
              {{#xif user.provider local}}
                {{user.username}}
              {{else}}
                {{user.familyName}}
              {{/xif}}&nbsp;&nbsp;&nbsp;
            </a>
            
            <a href="{{routes.user.profile.notifiations}}" style="color: white;">
              <i data-feather="bell" stroke="white" fill="none"></i>&nbsp;&nbsp;Notifications
            </a>&nbsp;&nbsp;&nbsp;
            <a href="{{routes.user.profile.messages}}" style="color: white;">
              <i data-feather="message-square" stroke="white" fill="none"></i>&nbsp;&nbsp;Messages
            </a>&nbsp;&nbsp;&nbsp;
            <a href="#top" style="color: white; font-size: 1.2em">
              | Posts
            </a>&nbsp;&nbsp;&nbsp;
          {{else}}
            <a href="{{routes.user.login}}" style="color: white; text-decoration: none" title="Log In">
              <i data-feather="log-in" width="25px" height="25px"></i>
              Log In
            </a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{{routes.user.signup}}" style="color: white; text-decoration: none;" title="Sign Up">
              <i data-feather="user-plus" width="25px" height="25px"></i>
              Sign Up
            </a>  
          {{/if}}
        </nav>

        <nav class="navbar navbar-expand-sm navbar-dark" style="padding: 0">
          <a href="/" style="margin: 4px 0 0 0; padding: 0;">
            <img src="/assets/vendor/local/raddict-white.png" width="30px" height="30px" class="navbar-brand img-fluid"/>
          </a>
          <span>
            <a href="/" style="margin: -2px 0 0 -10px;; color: white; font-size: 2em; font-weight: bold;
            font-family: 'Arial';">
              raddict
            </a>
          </span>
          
          <button class="navbar-toggler float-right" type="button"
            data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon" style=""></span>
          </button>

          {{!-- Login and Signup icons displayed only on small screens but hidden on all others --}}
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav col d-lg-none d-md-none d-sm-none" style="margin: 0 0 15px 0; padding: 0; border: none;">
              <div class="col-auto align-self-center" style="border: none; margin: 0 0 0 25px;">
                {{#if user}}
                  <a href="{{routes.user.profile}}" style="display: block; color: white; font-size: 1.1em; margin: 0 0 10px 0;">
                    <img class="img-fluid rounded-circle" src="http://www.gravatar.com/avatar/{{user.gravatar}}?d=monsterid&s=27"/>&nbsp;
                    {{#xif user.provider local}}
                      {{user.username}}
                    {{else}}
                      {{user.familyName}}
                    {{/xif}}
                  </a>
                  
                  <a href="{{routes.user.profile.notifications}}" style="display: block; color: white; margin: 0 0 10px 0;">
                    <i data-feather="bell" stroke="white" fill="none"></i>&nbsp;&nbsp;Notifications
                  </a>
                  <a href="{{routes.user.profile.messages}}" style="display: block; color: white; margin: 0 0 10px 0;">
                    <i data-feather="message-square" stroke="white" fill="none"></i>&nbsp;&nbsp;Messages
                  </a>
                  <a href="{{routes.user.logout}}" style="display: block; color: white; margin: 0 0 10px 0;">
                    <i data-feather="log-out" stroke="white" fill="none"></i>&nbsp;&nbsp;Logout
                  </a>
                  <a href="#top" style="color: white; font-size: 1.2em">
                    | Posts
                  </a>&nbsp;&nbsp;&nbsp;
                {{else}}
                  <a href="{{routes.user.login}}" style="color: white; text-decoration: none" title="Log In">
                    <i data-feather="log-in" width="25px" height="25px"></i>
                    Log In
                  </a>&nbsp;&nbsp;&nbsp;&nbsp;
                  <a href="{{routes.user.signup}}" style="color: white; text-decoration: none;" title="Sign Up">
                    <i data-feather="user-plus" width="25px" height="25px"></i>
                    Sign Up
                  </a>  
                {{/if}}
              </div>
            </div> 
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
