<div class="container-fluid h-100 index-wrapper">
  <div class="row h-100 justify-content-center" style="margin: 0; padding: 0;">

    {{!-- Rearrange the layout when there is no user logged in--}}
    {{#if user}}<div class="col col-md-12 col-lg-12 d-flex justify-content-center" style="padding: 0; border: none; 
    margin: 0;">{{/if}}

      {{#if user}}
        {{> user_status }}
      {{/if}}
      
      <div class="col-12 col-sm-10 {{#if user}}col-md-8 col-lg-7{{else}}col-md-10 col-lg-7{{/if}} d-sm-block d-inline-block"
      style="border: none; padding: 0;">

      {{> feed_bar }}

        <div class="col-12 btn-group-vertical" id="postlist" role="group" style="position:relative; padding: 0;">
          {{#unless postlist }}
            <div class="align-self-center text-center col-sm-7 col-lg-5 no-post">
              <a href="{{routes.post.add}}" class="btn col-12"
                style="background-color: steelblue; color: white; border-radius: 0;">
                Be the first to post a thought
              </a>
            </div>
          {{/unless}}

          {{!-- List of postlist: Expanded on all 12 grid columns block on small screens and inline-block on all others --}}
          {{> posts_list }}
        </div>
        {{#if postlist}}
          {{> load_more_button }}
        {{/if}}
      </div>

    {{#if user}}</div>{{/if}}
  </div>
</div>

{{!-- Buttons to post thoughts and images: displayed only small screens--}}
{{> post_button }}

{{> footer_js }}

<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
  $(function() {
    feather.replace();
    io("/home").on("newpost", function (data) {
      console.log("\"postcreated\" event listened successfully by the client");
      console.debug(data);
      var freshpost = data.post;
      $("#postlist").prepend(formatPost(freshpost));
      feather.replace();
    });
    io("/home").on("postdestroyed", function (key) {
        $(".freshpost-" + key).remove();
    });
    
    var hasLiked = false;
    /* Liking or disliking a post */
    $(".heart").on("click", function(e) {
      $.post("{{routes.post.like}}", {
        key: $(this).data("key"),
        likedBy: $(this).data("userid"),
        likedOnceBy: $(this).data("username")
      }, function (data) {
        $("#count-likes-" + data.id).text(data.thispost.likes);
        var likedByArray = data.thispost.likedBy;
        if (likedByArray.length === 0) {
          $("#likedby-content-" + data.id).html("");
        }
        else if (likedByArray.length === 1) {
          $("#likedby-content-" + data.id).html("Liked by <b>" + likedByArray[0] + "</b>");
        } else if (likedByArray.length === 2) {
          $("#likedby-content-" + data.id).html("Liked by <b>" + likedByArray[0] + ", " + likedByArray[1] + "</b>");
        } else if (likedByArray.length === 3) {
          $("#likedby-content-" + data.id).html("Liked by <b>" + likedByArray[0] + ", " + likedByArray[1] + "</b>" +
          " and " + "<b>" + (likedByArray.length - 2) + " other</b>");
        } else {
          $("#likedby-content-" + data.id).html("Liked by <b>" + likedByArray[0] + ", " + likedByArray[1] + "</b>" +
          " and " + "<b>" + (likedByArray.length - 2) + " others</b>");
        }
      });
      if (hasLiked) {
        hasLiked = false;
        $(this).attr("class", "feather feather-heart post-like");
      } else {
        hasLiked = true;
        $(this).attr("class", "feather feather-heart post-dislike");
      }
      e.preventDefault();
    });

    /* Collecting likes and likers */
    $.ajax({
      type: "POST",
      url: "{{routes.post.likers}}",
    }).done(function(data, textStatus, jqXHR) {
      var likelist = data.likelist;
      likelist.forEach(function(post) {
        var postkey = post.key;
        var likedByArray = post.likedBy;
        if (likedByArray.length === 0) {
          $("#likedby-content-" + postkey).html("");
        }
        else if (likedByArray.length === 1) {
          $("#likedby-content-" + postkey).html("Liked by <b>" + likedByArray[0] + "</b>");
        } else if (likedByArray.length === 2) {
          $("#likedby-content-" + postkey).html("Liked by <b>" + likedByArray[0] + ", " + likedByArray[1] + "</b>");
        } else if (likedByArray.length === 3) {
          $("#likedby-content-" + postkey).html("Liked by <b>" + likedByArray[0] + ", " + likedByArray[1] + "</b>" +
          " and " + "<b>" + (likedByArray.length - 2) + " other</b>");
        } else {
          $("#likedby-content-" + postkey).html("Liked by <b>" + likedByArray[0] + ", " + likedByArray[1] + "</b>" +
          " and " + "<b>" + (likedByArray.length - 2) + " others</b>");
        }
        /* Keeping red all liked button
        if (likedByArray.indexOf("{{user.username}}")) {
          $("#heart-" + postkey).attr("class", "feather feather-heart post-dislike");
        } else {
          $("#heart-" + postkey).attr("class", "feather feather-heart post-like");
        } */
      });
    });
  });

  /* Formating the display of a new post */
  function formatPost(freshpost) {
    feather.replace();
    return "<a class=\"col-12 align-self-center postlist freshpost-" + freshpost.key + "\" href=\"/posts/view?key=" + freshpost.key + "\">"
      + "<div style=\"postion: relative\">"
        + "<div class=\"post\">"
          + "<img class=\"img-fluid rounded-circle d-inline-block\" src=\"http://www.gravatar.com/avatar/" + freshpost.gravatar + "?d=monsterid&s=35\""
          + "title=\"\" alt=\"\" style=\"margin: 0 10px 10px 0; border: none;\"/>"
          + "<p class=\"d-inline-block\" class=\"username\" style=\"color: grey; font-size: 1.4em;\">"
            + "{{#xif " + freshpost.provider + " local}}"
              + freshpost.username
            + "{{else}}"
              + freshpost.familyname
            + "{{/xif}}"
          + "</p>"
          + "<div style=\"clear:both;\"></div>"
          + "<h5 class=\"col-auto post-title overflow\" style=\"margin: 0\">" + freshpost.title + "</h5>"
          + "<p class=\"post-content col-11 overflow\""
          + "style=\"font-family: Arial, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;"
          + "color:black; margin: 10px 0 0 0;\">"
            + freshpost.body
          + "</p>"
          + "<p id=\"likedby-content-" + freshpost.key + "\" style=\"color: rgb(37, 37, 41); margin: 15px 15px 0 15px; font-family: Arial\">"
            + "<span class=\"liked-by\"></span>"
          + "</p>"
        + "</div>"
        + "<p style=\"position: absolute; top: 17px; right: 25px; border: none;\">"
          + "<span class=\"count-post-views\">" + freshpost.views + "</span> &nbsp;"
          + "<i data-feather=\"eye\" width=\"18px\" height=\"18px\" stroke=\"steelblue\"></i>"
        + "</p>"
        + "<p style=\"position: absolute; top: 15px; right: 100px; border: none;\">"
            + "<small class=\"text-muted timeago\">" + freshpost.timestamp + "</small>&nbsp;&nbsp;<i data-feather=\"clock\" width=\"12px\"></i>"
        + "</p>"
      + "</div>"
    + "</a>"

    + "<div class=\"col-12 freshpost-" + freshpost.key + "\" style=\"margin: -50px 0 30px 0; padding: 0 18px 0 25px; background-color: white;\">"
      + "<div style=\"padding: 0 5px 0 0;\">"
        + "<span style=\"margin: 0 0 0 13px;\">"
          + "<i data-feather=\"more-horizontal\" width=\"18px\" height=\"18px\" stroke=\"grey\"></i>"
        + "</span>"
        + "<a href=\"/posts/share\" class=\"float-right\" style=\"position: relative;\">"
          + "<span style=\"font-size: 1.1em; position: absolute; top: 1px; right: 25px;\">0</span>"
          + "<i data-feather=\"share\" width=\"18px\" height=\"18px\" data-id=\"" + freshpost.key + "\"></i>"
        + "</a>"
        + "<a href=\"/posts/view?key=" + freshpost.key + "\" class=\"float-right\" style=\"margin: 0 40px 0 0; position: relative;\">"
          + "<span class=\"\" style=\"font-size: 1.1em; position: absolute; top: 1px; right: 25px;\">0</span> &nbsp;"
          + "<i class=\"comment\" data-feather=\"message-circle\" width=\"18px\" height=\"18px\"></i>"
        + "</a>"
        +"<span class=\"float-right\" style=\"margin: 0 35px 0 0; position: relative; font-family: 'Franklin Gothic Medium', 'Arial Narrow';"
        + "color: steelblue; font-size: 1.1em;\">"
          + "<span id=\"count-likes-" + freshpost.key + "\" style=\"position: absolute; top: 1px; right: 25px;\">"
            + freshpost.likes
          + "</span> &nbsp;"
          + "<i class=\"heart\" id=\"heart-" + freshpost.key + "\" data-feather=\"heart\" width=\"18px\" height=\"18px\" data-key=\"" + freshpost.key + "\""
          + "data-userid=\""
            + "{{#if user}}"
              + "{{#xif user.provider local}}"
                + "{{user.username}}"
              + "{{else}}"
                + "{{user.familyname}}"
              + "{{/xif}}"
            + "{{/if}}\""
          + "data-username=\""
            + "{{#if user}}"
              + "{{#xif user.provider local}}"
                + "{{user.username}}"
              + "{{else}}"
                + "{{user.familyname}}"
              + "{{/xif}}"
            + "{{/if}}\"></i>"
        + "</span>"
      + "</div>"
    + "</div>"
  }
</script>
