<div class="container-fluid h-100">
  <div class="row h-100 justify-content-center align-items-center">
    {{#if user}}
      <div class="currently-logged col-12 col-sm-7 col-md-7 col-lg-5">
        <h4>You are logged in</h4>
        <a href="/" class="btn btn-default" style="background-color: rgb(37,37, 41); color:white;">
          Go back to homepage
        </a>
      </div>
    {{else}}
      <div class="col-10 col-lg-4 col-md-5 col-sm-7 custom-form-login" role="group">
        <h5 class="text-center">Log In</h5>
        <form method="POST" action="{{routes.user.login}}">
          {{#if message}}
            <div class="alert alert-danger">{{message}}</div>
          {{/if}}
          <div class="form-group">
            <label for="username">Username*:</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="your username" value="" required/>
          </div>

          <div class="form-group">
            <label for="password">Password*:</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="your password" value="" required/>
          </div>
          
          <button type="submit" class="btn btn-default col-12" style="background-color: steelblue; color: white;">
            CONNECT
          </button>
        </form>

        <div class="text-center" style="margin: 0 0 25px 0;">
          <hr class="col-auto login-line"/>
            <b class="login-line" style="padding: 0 7px 0 7px;"> Log in with</b>
          <hr class="col-auto login-line"/>
        </div>

        <div class="twitter-login-with-oauth" style="margin: 0 0 7px 0;">
          <a href="{{routes.auth.twitterAuth}}" class="btn col-12" style="background-color: #1da1f2; color: white">
            <img src="/assets/vendor/twitter/Twitter_Logo_White.png" width="15px"/>
            Twitter
          </a>
        </div>
        <div class="facebook-login-with-oauth2" style="margin: 0 0 7px 0;">
          <a href="{{routes.auth.facebookAuth}}" class="btn col-12" style="background-color: #3b5998; color: white">
            <img src="/assets/vendor/facebook/Facebook_Logo_White.png" width="15px"/>
            Facebook
          </a>
        </div>
        <div class="google-login-with-oauth2" style="margin: 0 0 7px 0;">
          <a href="{{routes.auth.googleAuth}}" class="btn col-12" style="background-color: #db3236; color: white">
            <img src="/assets/vendor/google/Google_Logo_White.png" width="15px"/>
            Google
          </a>
        </div>
        <div style="text-align: center; margin: 10px 0 0 0">
          Don't have an account? <a href="{{routes.user.signup}}">Sign Up</a>
        </div>
      </div>
    {{/if}}
  </div>
</div>

{{> footer_js }}
