<div class="container-fluid h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col col-md-10 col-lg-8 word-wrap" style="background: white; margin: 15px 0 5px 0; padding: 15px">
      {{#if post}}
        <h3 id="postitle" style="color: steelblue"> {{ post.title }} </h3>
        <p id="postbody"> {{ post.body }} </p>
      {{/if}}
      <p> key: {{ postkey }} </p>
    </div>
  </div>
  {{#if postkey}}
    <div class="row h-100 justify-content-center">
      <div class="col col-md-10 col-lg-8" style="padding: 10px 0 0 0;">
        <div class="col-xm-12">
          <div class="btn-group">
            <a class="btn btn-outline-dark" role="button" href="{{routes.post.update}}?key={{postkey}}">
              Edit
            </a>
            <a class="btn btn-outline-dark" role="button" href="{{routes.post.delete}}?key={{postkey}}">
              Delete
            </a>
          </div>
        </div>
      </div>
    </div>
  {{/if}}
</div>
{{> footer_js }}

{{#if postkey}}
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      io("/view").on("postupdated", function (data) {
        console.log("\"postupdated\" event emitted successfully from the client");
        console.debug(data);
        var post = data.post;
        if (post.key === "{{postkey}}") {
          $("h3#postitle").empty();
          $("h3#postitle").text(post.title);
          $("#postbody").empty();
          $("#postbody").text(post.body);
        }
      });

      io("/view").on("postdestroyed", function (key) {
        console.log("\"postdestroyed\" event emitted successfully from the client");
        console.log("psotkey: " + key);
        if (key === "{{postkey}}") {
          window.location.href = "/";
        }
      });
    });
  </script>
{{/if}}
