<form method="POST", action="{{routes.post.create}}">
  <div class="container-fluid  col-lg-5 col-md-6 col-sm-7 col-10 custom-form">
    {{#if user}}
      <input type="hidden" name="docreate" value="{{#if docreate}}create{{else}}update{{/if}}" />
      {{#if message}}
        <div class="row alert alert-danger">{{message}}</div>
      {{/if}}     

      <div class="form-group row">
        <label for="postkey" class="col-form-label">key*:</label><br/>
        {{#if docreate}}
          {{!-- <div class="col"> --}}
            <input class="form-control" type="text" name="postkey" id="postkey" placeholder="postkey" value="" required/>
          {{!-- </div> --}}
        {{else}}
          {{#if post}}
            <span class="input-group-text">{{postkey}}</span>
          {{/if}}
          <input type="hidden" name="postkey" value="{{#if post}}{{postkey}}{{/if}}" />
        {{/if}}
      </div>

      <div class="form-group row">
        <label for="title" class="col-form-label">Title*:</label><br/>
        {{!-- <div class="col"> --}}
          <input class="form-control" type="text" name="title" id="title" placeholder="Post title"
            value="{{#if post}}{{post.title}}{{/if}}" required/>
        {{!-- </div> --}}
      </div>

      <div class="form-group row">
        <label for="article" class="col-form-label">Aritcle:</label>
        <textarea class="form-control" rows="4" name="body">
          {{#if post}}
            {{post.body}}
          {{/if}}
        </textarea>
      </div>

      <div class="row">
        <button type="submit" class="btn btn-default" style="margin: 0;">Submit</button> &nbsp;&nbsp;&nbsp;
        <a class="btn btn-outline-dark text-left" role="button"
          href="{{#if post}}{{routes.post.view}}?key={{post.key}}{{else}}/{{/if}}">
          Cancel
        </a>
      </div>
    {{else}}
      {{> not_logged_in }}
    {{/if}}
  </div>
</form>
